
img {
  margin: auto;
  display: block;
}

p.intro {
  color: #0CA978;
}
.flashy {
  font-style: italic;
  color: #EDB829 ;
  text-align: center;
}
.best {
  color: red;
  background-color: yellow;
}

.other {
  color: #755705;
  font-style: bold;
}
p {
  width: 500px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  }
